@model IEnumerable<CDQ.Models.Status>

@{
    ViewData["Title"] = "Status";
}

<br />
<br />

<div class="columns">
    <div class="column is-1 is-offset-3">
        <a asp-action="Index" asp-route-Ins="true" class="button back">
            <span class="icon">
                <i class="fas fa-backward"></i>
            </span>
        </a>
    </div>
    <div class="column is-4" align="center">
        <h1 class="title is-4">Status Pratiche</h1>
    </div>
    <div class="column is-1" align="right">
        <a asp-action="EditStatus" asp-route-Ins="true" class="button back" data-tooltip="Nuovo Status">
            <span class="icon"><i class="fas fa-file-medical"></i></span>
        </a>
    </div>
</div>

<div class="columns">
    <div class="column is-6 is-offset-3">
        <div class="panel">
            <div class="panel-heading">Status Pratiche
            </div>
            <div class="panel-block">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Descrizione</th>
                            <th style="text-align:center">Aggiorna</th>
                            <th style="text-align:center">Elimina</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td width="100%">
                                @Html.DisplayFor(modelItem => item.Descrizione)
                            </td>
                            @if (!item.IsSistema)
                            {
                                <td align="center">
                                    <a title="Aggiorna" asp-route-Mod="true" asp-route-ID="@item.ID" asp-action="EditStatus">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                </td>
                                <td align="center">
                                    <a title="Elimina" asp-route-Del="true" asp-route-ID="@item.ID" asp-action="EditStatus">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td align="center">
                                    <span disabled class="icon">
                                        <i class="fas fa-edit" color="gray"></i>
                                    </span>
                                </td>

                                <td align="center">
                                    <span disabled class="icon">
                                        <i class="fas fa-trash-alt" color="gray"></i>
                                    </span>
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





