@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table>
        <tr>
            <td>
                <a href="javascript:history.back()"><img src="/images/indietro.png" /></a>
            </td>
        </tr>
    </table>
</div>

<table  class="text-muted" align="center">
    <tr>
        <td>
            <p><h2>UnderConstruction</h2> </p>
        </td>
    </tr>
</table>

<br />
<br />
<br />


